<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/DATA_STRUCTURE_MODULE/src/Assignment1_INTRO/Number/CountDigit.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Assignment1_INTRO.Number.CountDigit"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="DATA_STRUCTURE_MODULE"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DATA_STRUCTURE_MODULE"/>
</launchConfiguration>
